server/app.log
*~
package-lock.json
node_modules/
**/.DS_Store
**/.vscode/
**/old/
**/master_agents/
**/__pycache__/
**/agents/
certs/
server/data

# jupyter
.ipynb_checkpoints


# swp files 
*.sw[oap]
.DS_Store
