<div class="text-center subtask" id="demoQuestions">
  <p>Demographic questions here</p>

  <div>
  <p>What is your gender?</p>

    <div>
      <input type="radio" id="Man" name="gender" value="Man"
            checked>
      <label for="huey">Man</label>
    </div>

    <div>
      <input type="radio" id="Woman" name="gender" value="Woman">
      <label for="dewey">Woman</label>
    </div>

    <div>
      <input type="radio" id="Nonbinary" name="gender" value="Nonbinary">
      <label for="louie">Non-binary</label>
    </div>

    <div>
      <input type="radio" id="nodisclose" name="gender" value="nodisclose">
      <label for="louie">Prefer not to disclose</label>
    </div>

    <input type="radio" name="gender" value="">Prefer to self describe: <input type="text" name="other_reason" />
  </div>


    <p>What is your age?</p>

    <div>
      <input type="radio" id="u18" name="gender" value="u18"
            checked>
      <label for="huey">Under 18 years old</label>
    </div>

    <div>
      <input type="radio" id="1824" name="gender" value="1824">
      <label for="dewey">18-24 years old</label>
    </div>

    <div>
      <input type="radio" id="2534" name="gender" value="2534">
      <label for="louie">25-34 years old</label>
    </div>

    <div>
      <input type="radio" id="3544" name="gender" value="3544">
      <label for="louie">35-44 years old</label>
    </div>
    <div>
      <input type="radio" id="4554" name="gender" value="4554">
      <label for="louie">45-54 years old</label>
    </div>
    <div>
      <input type="radio" id="5564" name="gender" value="5564">
      <label for="louie">55-64 years old</label>
    </div>
    <div>
      <input type="radio" id="6574" name="gender" value="6574">
      <label for="louie">65-74 years old</label>
    </div>
    <div>
      <input type="radio" id="a75" name="gender" value="a75">
      <label for="louie">75 years or older</label>
    </div>




    

</div>
