<div class="text-center subtask" id="demoQuestions">
  <p>Please answer a couple of questions about yourself.</p>
  


  <div align="left">
    <hr />


    <p class="question-prompt">What is your gender?</p>
    <div>
      <input type="radio" id="Man" name="gender" value="Man">
      <label for="Man">Man</label>
    </div>
    <div>
      <input type="radio" id="Woman" name="gender" value="Woman">
      <label for="Woman">Woman</label>
    </div>
    <div>
      <input type="radio" id="Nonbinary" name="gender" value="NonBinary">
      <label for="Nonbinary">Non-binary</label>
    </div>
    <div>
      <input type="radio" id="nodisclose" name="gender" value="NotDisclose">
      <label for="nodisclose">Prefer not to disclose</label>
    </div>
    <div>
      <input type="radio" id="selfdescribe" name="gender" value="SelfDescribe">
      <label for="selfdescribe">Prefer to self describe:</label> <input type="text" name="other_reason" id="describegender"/>
    </div>

    <hr />

    <p class="question-prompt">What is your age?</p>
    <div>
      <input type="radio" id="u18" name="age" value="u18">
      <label for="u18">Under 18 years old</label>
    </div>
    <div>
      <input type="radio" id="1824" name="age" value="1824">
      <label for="1824">18-24 years old</label>
    </div>
    <div>
      <input type="radio" id="2534" name="age" value="2534">
      <label for="2534">25-34 years old</label>
    </div>
    <div>
      <input type="radio" id="3544" name="age" value="3544">
      <label for="3544">35-44 years old</label>
    </div>
    <div>
      <input type="radio" id="4554" name="age" value="4554">
      <label for="4554">45-54 years old</label>
    </div>
    <div>
      <input type="radio" id="5564" name="age" value="5564">
      <label for="5564">55-64 years old</label>
    </div>
    <div>
      <input type="radio" id="6574" name="age" value="6574">
      <label for="6574">65-74 years old</label>
    </div>
    <div>
      <input type="radio" id="a75" name="age" value="a75">
      <label for="a75">75 years or older</label>
    </div>
  </div>
  <hr />

</div>


