<div class="subtask" id="game">
  <form id="game-params-form">
    <div class="container">
    <div class="row text-center">
      <div class="form-group col-lg-3">
        <label for="playerZero" style="color:#1E6A9E">Player 1</label>
        <select class="form-control" id="playerZero" name="playerZero">
      <!-- <option value="human">Human Keyboard Input</option> -->
      {% for agent_name in agent_names_player_one %}
          <option value={{agent_name}}>{{agent_name}}</option>
      {% endfor %}
        </select>
  </div>
<div class="form-group col-lg-3">
  <label for="playerOne" style="color:#44956B">Player 2</label>
  <select class="form-control" id="playerOne" name="playerOne">
      <!-- <option value="human">Human Keyboard Input</option> -->
      {% for agent_name in agent_names_player_two %}
          <option value={{agent_name}}>{{agent_name}}</option>
      {% endfor %}
  </select>
</div>
      <div class="form-group col-lg-2">
        <label for="layout">Layout</label>
        <select class="form-control" id="layout" name="layout">
      {% for layout in layouts %}
          <option value={{layout}}>{{layout}}</option>
      {% endfor %}
        </select>
      </div>
<div class="form-group col-lg-2">
  <label for="gameTime">Game Length (sec)</label>
  <input type="number" id="gameTime" value={{game_length}} min="1" max="1800" name="gameTime" {% if not allow_change_game_length %}class="noClick"{% endif %}>
</div>
    </div>
    </div>
  </form>
  <!-- <h4 id="tutorial" class="text-center"><a href="./tutorial">Tutorial</a></h4> -->
  <div id="lobby", class="text-center" style="display:none">
      <h4 class="text-center">Game Lobby</h4>
      Waiting for game to start...
  </div>
  <div id="waiting", class="text-center" style="display:none">
    Waiting for game to be created. Please be patient...
  </div>
  <div id="overcooked-container" class="text-center">
      <h4 id="game-title" style="display:none">Game in Progress</h4>
      <h4 id="game-over" style="display:none">Game Over</h4>
      <div id="overcooked"></div>
      <div id="error-exit" style="display:none">Game ended unexpectedly (probably due to another user disconnecting)</div>
  </div>
  {% if assignment_unaccepted %}
    <div class="error">Please accept assignment before continuing.</div>
  {% else %}
    <div id="control" class="text-center">
        <button type="button" class="btn btn-primary mturk-hide-after-game" id="create">Start Game</button>
        {% if not mturk %}
        <button type="button" class="btn btn-secondary" id="join">Join Existing Game</button>
        <button class="btn btn-secondary" id="leave" style="display:none;">Leave</button>
        {% endif %}
    </div>
  {% endif %}
  {% if mturk %}
  <div id="feedback-section" style="display:none">
    <div class="text-center">
      <h4 id="feedback-prompt-1">How good was your partner at playing the game?</h4>
    </div>
    <div class="text-center">
      <textarea rows="4" cols="40" id="feedback-1" placeholder="Enter text here..." ></textarea>
    </div>
    <div class="text-center">
      <h4 id="feedback-prompt-2">Did you have any issues with the task or the interface?</h4>
    </div>
    <div class="text-center">
      <textarea rows="4" cols="40" id="feedback-2" placeholder="Enter text here..."></textarea>
    </div>
    <div class="text-center">
      <h4 id="feedback-prompt-3">Was the game too short, too long, or a good length?</h4>
    </div>
    <div class="text-center">
      <textarea rows="4" cols="40" id="feedback-3" placeholder="Enter text here..."></textarea>
    </div>
  </div>

  <div class="text-center">
    <button type="button" class="btn btn-primary" id="submit" style="display:none">Submit</button>
  </div>

  {% endif %}
</div>
