<div class="instructions-text">
  <p>
    In this task, you will be playing a cooking game. You will play as one of
    two chefs in a restaurant that serves onion soups.
  </p>

  <br />

  <h3 class="text-center">Layouts</h3>
  <p>This is what one level of the game looks like:</p>
  <img
    class="center"
    src="static/images/overcooked-in-progress.png"
    style="width: 65%; max-width: 650px"
  />
  <p>There are a number of objects in the game, labeled here:</p>
  <img
    class="center"
    src="static/images/overcooked-annotated.png"
    style="width: 100%; max-width: 1000px"
  />

  <br />

  <h3 class="text-center">Movement and interactions</h3>
  <img
    class="center"
    src="static/images/space-arrows.png"
    style="width: 250px"
  />
  <p>
    You can move up, down, left, and right using the <b>arrow keys</b>, and
    interact with objects using the <b>spacebar</b>.
  </p>
  <p>
    You can interact with objects by facing them and pressing
    <b>spacebar</b>.
  </p>
  <br />

  <h3 class="text-center">Making a Soup</h3>

  <p>
    The goal of the game is to serve as many onion soups as possible. An onion
    soup contains three onions. Click through the slides below to see how to
    serve a soup.
  </p>

  <div class="instructions-carousel-container">
    {% include "instructions_carousel.html" %}
  </div>

  <p>The video below shows what delivering a soup looks like.</p>

  <!-- <img class="center" src="static/images/soup.png" style="width: 250px" /> -->
  <!-- <p> -->
  <!--   Once you put three onions in a pot, the soup will automatically begin -->
  <!--   cooking. -->
  <!-- </p> -->
  <!-- <p> -->
  <!--   When a soup begins cooking, you'll notice a red number appear over the pot -->
  <!--   to denote the cook time. This number counts upward until the soup is done. -->
  <!--   Soups take 20 seconds to cook. -->
  <!-- </p> -->
  <!-- <p> -->
  <!--   Once the soup is in a bowl, you can serve it by bringing it to a grey -->
  <!--   serving counter. -->
  <!-- </p> -->

  <!-- <br /> -->

  <h3 class="text-center">Score</h3>
  <p>When a soup is served at the serving counter, you will receive a point.</p>
  <p>Your goal is to serve as many soups as you can before the game ends!</p>

  <br />
</div>
