<div class="instructions-text">
  <p>
    In this task, you will be playing a cooking game. You will play as one of
    two chefs in a restaurant that serves onion soups.
  </p>

  <br />

  <h3 class="text-center">Layouts</h3>
  <p>This is what one level of the game looks like:</p>
  <img
    class="center instr-image"
    src="static/images/overcooked-in-progress.png"
  />
  <p>There are a number of objects in the game, labeled here:</p>
  <img
    class="center instr-image"
    src="static/images/overcooked-annotated.png"
    style="width: 100%; max-width: 1000px"
  />

  <br />

  <h3 class="text-center">Movement and interactions</h3>
  <img
    class="center"
    src="static/images/space-arrows.png"
    style="width: 250px"
  />
  <p>
    You can move up, down, left, and right using the <b>arrow keys</b>, and
    interact with objects using the <b>spacebar</b>.
  </p>
  <p>
    You can interact with objects by facing them and pressing
    <b>spacebar</b>.
  </p>
  <br />

  <h3 class="text-center">Making a Soup</h3>

  <p>
    The goal of the game is to serve as many onion soups as possible. An onion
    soup contains three onions.
  </p>

  <!-- <div class="instructions-carousel-container"> -->
  <!--   {% include "instructions_carousel.html" %} -->
  <!-- </div> -->
  <div class="instructions-carousel-container">
    <img
      class="instr-image"
      src="static/images/instructions/start.png"
      alt="First slide"
    />
    <p>Here's how you make an onion soup.</p>
    <img
      class="instr-image"
      src="static/images/instructions/1.png"
      alt="Second slide"
    />
    <p>First, use the arrow keys to move to an onion dispenser.</p>
    <img
      class="instr-image"
      src="static/images/instructions/2.png"
      alt="Second slide"
    />
    <p>Press the space bar to pick up an onion.</p>
    <img
      class="instr-image"
      src="static/images/instructions/3.png"
      alt="Third slide"
    />
    <p>Use the arrow keys to walk to the stove.</p>
    <img
      class="instr-image"
      src="static/images/instructions/4.png"
      alt="Third slide"
    />
    <p>Press the space bar to put the onion in the stove.</p>
    <img
      class="instr-image"
      src="static/images/instructions/5.png"
      alt="Third slide"
    />
    <p>
      Once you add three onions, the soup will cook for 20 seconds. Once the red
      timer hits 20, the soup is ready!
    </p>
    <img
      class="instr-image"
      src="static/images/instructions/6.png"
      alt="Third slide"
    />
    <p>While the soup is cooking, walk over and pick up a dish.</p>
    <img
      class="instr-image"
      src="static/images/instructions/7.png"
      alt="Third slide"
    />
    <p>
      Bring the dish to the stove. Once the soup is done cooking, press the
      space bar to put the soup into the dish.
    </p>
    <img
      class="instr-image"
      src="static/images/instructions/8.png"
      alt="Third slide"
    />
    <p>
      Deliver the soup by bringing it to the serving area and pressing the space
      bar.
    </p>
    <img
      class="instr-image"
      src="static/images/instructions/9.png"
      alt="Third slide"
    />
    <p>
      You can also place items onto the counter. This can be handy for storing
      or passing items.
    </p>
  </div>

  <p>The gif below shows what delivering a soup looks like.</p>
  <img class="instr-image" src="static/images/Example_Tutorial.gif" />

  <video>
    <source src="static/images/Example_Tutorial.mp4" type="video/mp4" />
    Your browser does not support the video tag.
  </video>

  <!-- <img class="center" src="static/images/soup.png" style="width: 250px" /> -->
  <!-- <p> -->
  <!--   Once you put three onions in a pot, the soup will automatically begin -->
  <!--   cooking. -->
  <!-- </p> -->
  <!-- <p> -->
  <!--   When a soup begins cooking, you'll notice a red number appear over the pot -->
  <!--   to denote the cook time. This number counts upward until the soup is done. -->
  <!--   Soups take 20 seconds to cook. -->
  <!-- </p> -->
  <!-- <p> -->
  <!--   Once the soup is in a bowl, you can serve it by bringing it to a grey -->
  <!--   serving counter. -->
  <!-- </p> -->

  <!-- <br /> -->

  <h3 class="text-center">Score</h3>
  <p>When a soup is served at the serving counter, you will receive a point.</p>
  <p>Your goal is to serve as many soups as you can before the game ends!</p>

  <br />
</div>
