<div id="overview" class="subtask">
  <p>
    Please only do this HIT once! If you have done this HIT already (ie. play Overcooked), please skip this HIT. Thank you so much!
  </p>

  <p>
    Thank you for accepting our task. In this experiment, you will be playing
    Overcooked with some AI agents!
  </p>

  <img
    class="center"
    src="static/images/overcooked-in-progress.png"
    style="max-width: 650px"
  />

  <p>
    The purpose of this study is to test how well different AI agents can work
    with people. You'll play a version of the video game Overcooked with some
    agents, and we'll measure how well you do as a team.
  </p>
  <br />

  <h3 class="text-center">Task Overview</h3>

  <p>
    The task will take approximately <b>9 minutes</b>. You will be paid
    <b>$2</b> plus a bonus of <b>$0.01 per soup delivered</b> with a partner.
  </p>
  <br />

  <p>Here is how the task will go:</p>
  <ol>
    <li>First, you will answer a couple of questions about yourself.</li>
    <li>Then, you'll read the Overcooked instructions.</li>
    <li>
      Then, you will play a "practice" round of Overcooked by yourself to get
      familiar with the game controls.
    </li>
    <li>
      Then, you will play the game for real with a series of
      <b><span class="num-partners"></span></b> AI partners. Try to get the best
      score you can with each partner. After playing with each partner, we'll
      ask some questions about your experience playing with them.
    </li>
  </ol>

  <p>Do your best on the game and have fun!</p>
  <br />

  <h3 class="text-center">Consent Form</h3>
  <p>
    By clicking "Next", you are consenting to the policies of our task as
    outlined in this
    <a href="static/documents/consent_form.pdf" target="_blank">Consent Form</a
    >.
  </p>
</div>
