<div class="text-center subtask" id="partnerQuestions">
  <p>Please answer the following questions regarding your partner in the last game.</p>

  <hr>
  <label style="margin-top: 30px">How helpful was your partner?</label>
  <div style="display: flex; justify-content: space-between;">
    <div style="display: inline-block; text-align: center;">
      <input type="radio" name="helpful" value="1" id="helpful1"><label for="helpful1" style="display: block;">1- not helpful</label>
    </div>
    <div style="display: inline-block; text-align: center;">
      <input type="radio" name="helpful" value="2" id="helpful2"><label for="helpful2" style="display: block;">2</label>
    </div>
    <div style="display: inline-block; text-align: center;">
      <input type="radio" name="helpful" value="3" id="helpful3"><label for="helpful3" style="display: block;">3</label>
    </div>
    <div style="display: inline-block; text-align: center;">
      <input type="radio" name="helpful" value="4" id="helpful4"><label for="helpful4" style="display: block;">4 - moderately helpful</label>
    </div>
    <div style="display: inline-block; text-align: center;">
      <input type="radio" name="helpful" value="5" id="helpful5"><label for="helpful5" style="display: block;">5</label>
    </div>
    <div style="display: inline-block; text-align: center;">
      <input type="radio" name="helpful" value="6" id="helpful6"><label for="helpful6" style="display: block;">6</label>
    </div>
    <div style="display: inline-block; text-align: center;">
      <input type="radio" name="helpful" value="7" id="helpful7"><label for="helpful7" style="display: block;">7 - very helpful</label>
    </div>
  </div>
  <hr>
  <label style="margin-top: 30px">How competent was your partner?</label>
  <div style="display: flex; justify-content: space-between;">
    <div style="display: inline-block; text-align: center;">
      <input type="radio" name="competent" value="1" id="competent1"><label for="competent1" style="display: block;">1- not competent</label>
    </div>
    <div style="display: inline-block; text-align: center;">
      <input type="radio" name="competent" value="2" id="competent2"><label for="competent2" style="display: block;">2</label>
    </div>
    <div style="display: inline-block; text-align: center;">
      <input type="radio" name="competent" value="3" id="competent3"><label for="competent3" style="display: block;">3</label>
    </div>
    <div style="display: inline-block; text-align: center;">
      <input type="radio" name="competent" value="4" id="competent4"><label for="competent4" style="display: block;">4 - moderately competent</label>
    </div>
    <div style="display: inline-block; text-align: center;">
      <input type="radio" name="competent" value="5" id="competent5"><label for="competent5" style="display: block;">5</label>
    </div>
    <div style="display: inline-block; text-align: center;">
      <input type="radio" name="competent" value="6" id="competent6"><label for="competent6" style="display: block;">6</label>
    </div>
    <div style="display: inline-block; text-align: center;">
      <input type="radio" name="competent" value="7" id="competent7"><label for="competent7" style="display: block;">7 - very competent</label>
    </div>
  </div>
  <hr>
  <label style="margin-top: 30px">How much did you enjoy working with your partner?</label>
  <div style="display: flex; justify-content: space-between; ">
    <div style="display: inline-block; text-align: center;">
      <input type="radio" name="enjoy" value="1" id="enjoy1"><label for="enjoy1" style="display: block;">1- not at all</label>
    </div>
    <div style="display: inline-block; text-align: center;">
      <input type="radio" name="enjoy" value="2" id="enjoy2"><label for="enjoy2" style="display: block;">2</label>
    </div>
    <div style="display: inline-block; text-align: center;">
      <input type="radio" name="enjoy" value="3" id="enjoy3"><label for="enjoy3" style="display: block;">3</label>
    </div>
    <div style="display: inline-block; text-align: center;">
      <input type="radio" name="enjoy" value="4" id="enjoy4"><label for="enjoy4" style="display: block;">4 - moderately</label>
    </div>
    <div style="display: inline-block; text-align: center;">
      <input type="radio" name="enjoy" value="5" id="enjoy5"><label for="enjoy5" style="display: block;">5</label>
    </div>
    <div style="display: inline-block; text-align: center;">
      <input type="radio" name="enjoy" value="6" id="enjoy6"><label for="enjoy6" style="display: block;">6</label>
    </div>
    <div style="display: inline-block; text-align: center;">
      <input type="radio" name="enjoy" value="7" id="enjoy7"><label for="enjoy7" style="display: block;">7 - very much</label>
    </div>
  </div>
  <hr>
  <label style="margin-top: 30px">How human-like was your partner?</label>
  <div style="display: flex; justify-content: space-between;">
    <div style="display: inline-block; text-align: center;">
      <input type="radio" name="humanlike" value="1" id="humanlike1"><label for="humanlike1" style="display: block;">1- not human-like</label>
    </div>
    <div style="display: inline-block; text-align: center;">
      <input type="radio" name="humanlike" value="2" id="humanlike2"><label for="humanlike2" style="display: block;">2</label>
    </div>
    <div style="display: inline-block; text-align: center;">
      <input type="radio" name="humanlike" value="3" id="humanlike3"><label for="humanlike3" style="display: block;">3</label>
    </div>
    <div style="display: inline-block; text-align: center;">
      <input type="radio" name="humanlike" value="4" id="humanlike4"><label for="humanlike4" style="display: block;">4 - moderately human-like</label>
    </div>
    <div style="display: inline-block; text-align: center;">
      <input type="radio" name="humanlike" value="5" id="humanlike5"><label for="humanlike5" style="display: block;">5</label>
    </div>
    <div style="display: inline-block; text-align: center;">
      <input type="radio" name="humanlike" value="6" id="humanlike6"><label for="humanlike6" style="display: block;">6</label>
    </div>
    <div style="display: inline-block; text-align: center;">
      <input type="radio" name="humanlike" value="7" id="humanlike7"><label for="humanlike7" style="display: block;">7 - very human-like</label>
    </div>
  </div>
  <hr>
  <label style="margin-top: 30px">How efficient was your partner?</label>
  <div style="display: flex; justify-content: space-between;">
    <div style="display: inline-block; text-align: center;">
      <input type="radio" name="efficient" value="1" id="efficient1"><label for="efficient1" style="display: block;">1- Not efficient</label>
    </div>
    <div style="display: inline-block; text-align: center;">
      <input type="radio" name="efficient" value="2" id="efficient2"><label for="efficient2" style="display: block;">2</label>
    </div>
    <div style="display: inline-block; text-align: center;">
      <input type="radio" name="efficient" value="3" id="efficient3"><label for="efficient3" style="display: block;">3</label>
    </div>
    <div style="display: inline-block; text-align: center;">
      <input type="radio" name="efficient" value="4" id="efficient4"><label for="efficient4" style="display: block;">4 - Moderately efficient</label>
    </div>
    <div style="display: inline-block; text-align: center;">
      <input type="radio" name="efficient" value="5" id="efficient5"><label for="efficient5" style="display: block;">5</label>
    </div>
    <div style="display: inline-block; text-align: center;">
      <input type="radio" name="efficient" value="6" id="efficient6"><label for="efficient6" style="display: block;">6</label>
    </div>
    <div style="display: inline-block; text-align: center;">
      <input type="radio" name="efficient" value="7" id="efficient7"><label for="efficient7" style="display: block;">7 - Very efficient</label>
    </div>
  </div>
  <hr>
  <label style="margin-top: 30px">How flexible was your partner in adapting to new strategies?</label>
  <div style="display: flex; justify-content: space-between;">
    <div style="display: inline-block; text-align: center;">
      <input type="radio" name="flexible" value="1" id="flexible1"><label for="flexible1" style="display: block;">1- Not flexible</label>
    </div>
    <div style="display: inline-block; text-align: center;">
      <input type="radio" name="flexible" value="2" id="flexible2"><label for="flexible2" style="display: block;">2</label>
    </div>
    <div style="display: inline-block; text-align: center;">
      <input type="radio" name="flexible" value="3" id="flexible3"><label for="flexible3" style="display: block;">3</label>
    </div>
    <div style="display: inline-block; text-align: center;">
      <input type="radio" name="flexible" value="4" id="flexible4"><label for="flexible4" style="display: block;">4 - Moderately flexible</label>
    </div>
    <div style="display: inline-block; text-align: center;">
      <input type="radio" name="flexible" value="5" id="flexible5"><label for="flexible5" style="display: block;">5</label>
    </div>
    <div style="display: inline-block; text-align: center;">
      <input type="radio" name="flexible" value="6" id="flexible6"><label for="flexible6" style="display: block;">6</label>
    </div>
    <div style="display: inline-block; text-align: center;">
      <input type="radio" name="flexible" value="7" id="flexible7"><label for="flexible7" style="display: block;">7 - Very flexible</label>
    </div>
  </div>
  <hr>
  <label style="margin-top: 30px">How predictable was your partner?</label>
  <div style="display: flex; justify-content: space-between;">
    <div style="display: inline-block; text-align: center;">
      <input type="radio" name="predictable" value="1" id="predictable1"><label for="predictable1" style="display: block;">1- Not predictable</label>
    </div>
    <div style="display: inline-block; text-align: center;">
      <input type="radio" name="predictable" value="2" id="predictable2"><label for="predictable2" style="display: block;">2</label>
    </div>
    <div style="display: inline-block; text-align: center;">
      <input type="radio" name="predictable" value="3" id="predictable3"><label for="predictable3" style="display: block;">3</label>
    </div>
    <div style="display: inline-block; text-align: center;">
      <input type="radio" name="predictable" value="4" id="predictable4"><label for="predictable4" style="display: block;">4 - Moderately predictable</label>
    </div>
    <div style="display: inline-block; text-align: center;">
      <input type="radio" name="predictable" value="5" id="predictable5"><label for="predictable5" style="display: block;">5</label>
    </div>
    <div style="display: inline-block; text-align: center;">
      <input type="radio" name="predictable" value="6" id="predictable6"><label for="predictable6" style="display: block;">6</label>
    </div>
    <div style="display: inline-block; text-align: center;">
      <input type="radio" name="predictable" value="7" id="predictable7"><label for="predictable7" style="display: block;">7 - Very predictable</label>
    </div>
  </div>
  <hr>



</div>
