<div class="subtask" id="submit">
  <div class="disclaimer">
    <h3 class="text-center">Debrief</h3>
    <p>
      Thank you for participating in our experiment! The purpose of our study is
      to evaluate how well different collaborative AI agents can coordinate with
      humans. In particular, we are testing a new kind of agent that is capable
      of adapting to different partners, including people. In order to evaluate
      different agents, we are having them work together in human-agent teams.
      We are collecting data about the performance of those teams, including
      performance (score) on the game and people's subjective experiences
      coordinating with their partner.
    </p>
    <p>
      In this study, you collaborated with an agent partner. Data from this
      experiment will be used to evaluate how well your partner collaborates
      with humans.
    </p>
    <p>
      Your participation will help us design agents that are better at assisting
      and collaborating with humans!
    </p>
  </div>

  <div class="freeform-feedback">
    <h3 class="text-center">Optional feedback</h3>
    <ol>
      <li>
        How was the length of the Overcooked games you played? Would you have
        preferred the game to be longer or shorter, or did you like the length?
      </li>
      <textarea
        rows="4"
        cols="40"
        id="feedback-length"
        placeholder="Enter text here..."
      ></textarea>
      <li>Did you encounter any issues or bugs with the task?</li>
      <textarea
        rows="4"
        cols="40"
        id="feedback-bugs"
        placeholder="Enter text here..."
      ></textarea>
      <li>Do you have any additional feedback?</li>
      <textarea
        rows="4"
        cols="40"
        id="feedback-additional"
        placeholder="Enter text here..."
      ></textarea>
    </ol>
  </div>


</div>
