<div class="subtask" id="tutorial">
  <div>
    <h3>Practice Game</h3>
    <p>
      Now, you will play a practice round(s) of Overcooked by yourself to get
      familiar with the game controls.
    </p>
    <p>You can refer back to the Instructions if needed.</p>
    <p>To ensure that you are familiar with the instructions, <b>you will only be able to continue after you deliver 3 soups in 35 seconds</b>. If you don't deliver enough soups in the time period, you can try again until you meet the requirement.</p>
    {% include "instructions_popup.html" %}
  </div>
</div>
